<section class="contacts container">
  <h2 class="contacts-title visually-hidden">contacts</h2>
  <ul class="contacts-list" id="contacts">
    <li class="contacts-item">
      <article>
        <p class="institution">CAFE</p>
        <p class="city">Chicago</p>
        <address>
          <a
            class="location"
            href="https://goo.gl/maps/SBk2NgXz2SCZKm4a8"
            target="_blank"
            rel="noreferrer noopener nofollow"
            >10340 Ridgeland Ave, <br />
            Chicago Ridge, IL 60415, USA</a
          >
        </address>
        <div class="open-to">
          <p class="work-schedule-one">
            Monday - Friday
            <span class="working-time">06:00 AM - 10:00 PM</span>
          </p>
          <p class="work-schedule-two">
            Saturday - Sunday
            <span class="working-time">08:00 AM - 16:00 PM</span>
          </p>
        </div>
        <ul class="communication">
          <li>
            <a class="contacts-tel" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a
              class="contacts-mail"
              href="mailto:noreply@envato.com"
              target="_blank"
              rel="noreferrer noopener nofollow"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </article>
    </li>
    <li class="contacts-item">
      <article>
        <p class="institution">FOODTRUCK</p>
        <p class="city">Los Angeles</p>
        <address>
          <a
            class="location"
            href="https://goo.gl/maps/GXkhaJU6XyuF8fCY9"
            target="_blank"
            rel="noreferrer noopener nofollow"
            >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
          >
        </address>
        <div class="open-to">
          <p class="work-schedule-one">
            Monday - Friday
            <span class="working-time">06:00 AM - 10:00 PM</span>
          </p>
          <p class="work-schedule-two">
            Saturday - Sunday
            <span class="working-time">08:00 AM - 16:00 PM</span>
          </p>
        </div>
        <ul class="communication">
          <li>
            <a class="contacts-tel" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a
              class="contacts-mail"
              href="mailto:noreply@envato.com"
              target="_blank"
              rel="noreferrer noopener nofollow"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </article>
    </li>
    <li class="contacts-item">
      <article>
        <p class="institution">CAFE</p>
        <p class="city">New York</p>
        <address>
          <a
            class="location"
            href="https://goo.gl/maps/t844kxzWuXT7j71i7"
            target="_blank"
            rel="noreferrer noopener nofollow"
            >726 Sterling Pl, Brooklyn, NY 11222, USA</a
          >
        </address>
        <div class="open-to">
          <p class="work-schedule-one">
            Monday - Friday
            <span class="working-time">06:00 AM - 10:00 PM</span>
          </p>
          <p class="work-schedule-two">
            Saturday - Sunday
            <span class="working-time">08:00 AM - 16:00 PM</span>
          </p>
        </div>
        <ul class="communication">
          <li>
            <a class="contacts-tel" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a
              class="contacts-mail"
              href="mailto:noreply@envato.com"
              target="_blank"
              rel="noreferrer noopener nofollow"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </article>
    </li>
  </ul>
  <div class="wrapper-btn">
    <button class="locations-btn" type="button" locations-modal-open>
      Our Locations
      <svg class="icon-btn" width="12" height="12">
        <use href="./images/sprite.svg#icon-arrow_right"></use>
      </svg>
    </button>

    <button class="franchise-btn" type="button" franchise-modal-open>
      Franchise
      <svg class="icon-btn" width="12" height="12">
        <use href="./images/sprite.svg#icon-arrow_right"></use>
      </svg>
    </button>
  </div>
</section>
