<div class="footer container">
  <div class="foot-wraper">
    <div class="homemade-wraper">
      <h2 class="footer-title visually-hidden">footer</h2>
      <ul>
        <li><p class="homemade">homemade ice cream made</p></li>
        <li><p class="with-passion">with passion</p></li>
      </ul>
    </div>
    <div class="social-wraper">
      <ul class="soc-icon">
        <li class="icon-item">
          <a
            href="https://github.com/"
            target="_blank"
            rel="noreferrer noopener nofollow"
          >
            <svg class="icon-foot" width="34" height="34">
              <use href="./images/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="icon-item">
          <a
            href="https://web.telegram.org"
            target="_blank"
            rel="noreferrer noopener nofollow"
          >
            <svg class="icon-foot" width="34" height="34">
              <use href="./images/sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="icon-item">
          <a
            href="https://uk-ua.facebook.com/"
            target="_blank"
            rel="noreferrer noopener nofollow"
          >
            <svg class="icon-foot" width="34" height="34">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <a class="foot-tel" href="tel:+610383766284"
        ><span class="foot-tel-txt">Feel free to contact </span> +61 (0) 383 766
        284</a
      >
    </div>
  </div>

  <p class="foot-copy">&copy;2022 - IceCream. All Rights Reserved.</p>
</div>
