<!-- modal Franchise -->

<div class="franchise__backdrop franchise__is-hidden" franchise-modal>
    <div class="franchise__modal">
        <button class="franchise__modal-close" franchise-modal-close>
            <svg class="close-icon">
                <use href="./images/sprite.svg#icon-close-line"></use>
            </svg>
        </button>

        <h2 class="franchise__modal-title">Thank you for your interest in owning an Ice Cream shop</h2>
        <p class="franchise__modal-desc">Due to the overwhelming volume of franchise requests we are not accepting new franchisee
            applications at this time. Once
            the application process resumes, we will contact you for further information. Please fill out the contact
            information
            below and we will reach out for additional information. We appreciate your patience.</p>

        <form class="franchise__modal-form">
            <label class="franchise__form-label">
                <input onkeyup="checkParamsFranchise()" type="text" id="franchise_name"  class="franchise__form-input" name="name" placeholder="Name" required pattern="[a-zA-Z ]+" title="Use only letters">
            </label>
            <label class="franchise__form-label">
                <input onkeyup="checkParamsFranchise()" type="tel" id="franchise_tel" class="franchise__form-input" name="phone_number" placeholder="Phone" required  pattern="\+\d{12}" title="+xxxxxxxxxxxx">
            </label>
            <label class="franchise__form-label">
                <input onkeyup="checkParamsFranchise()" type="email" id="franchise_email" class="franchise__form-input" name="email" placeholder="Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="example@mail.com">
            </label>
            <label class="franchise__form-label">
                <textarea class="franchise__form-textarea" name="comment" rows="5" placeholder="Comment"></textarea>
            </label>  
            <button type="submit" id="franchise-submit" class="franchise__modal-form-btn" disabled>Submit</button>
        </form>
    </div>
</div>