<header class="header">
  <div class="header-container container">
    <nav class="header__navigation">
      <a href="" class="header__logo">
        <picture>
          <source
            srcset="
              ./images/mainlogo-mobile-1x.png 1x,
              ./images/mainlogo-mobile-2x.png 2x
            "
            media="(max-width:767px)"
          />
          <source
            srcset="
              ./images/mainlogo-tablet-1x.png 1x,
              ./images/mainlogo-tablet-2x.png 2x
            "
            media="(min-width:768px) and (max-width:1199px)"
          />
          <source
            srcset="
              ./images/mainlogo-desktop-1x.png 1x,
              ./images/mainlogo-desktop-2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <img
            class="header__pic"
            src="./images/mainlogo.png"
            alt="Logo of ice cream company"
          />
        </picture>
      </a>
      <ul class="header__list list">
        <li class="header__item">
          <a href="#hero" class="header__link link">Home</a>
        </li>
        <li class="header__item">
          <a href="#about" class="header__link link">How it's made?</a>
        </li>
        <li class="header__item">
          <a href="#products" class="header__link link">Our products</a>
        </li>
        <li class="header__item">
          <a href="#contacts" class="header__link link">Contact</a>
        </li>
      </ul>
      <div class="header__buttons"> 
<button
          class="menu-button"
          data-menu-btn
          aria-expanded="false"
          aria-controls="menu-container"
          type="button"
        >
          <svg width="32" height="32" aria-lable="switcher of mobile menu">
            <use
              class="menu-btn__close"
              href="./images/sprite.svg#icon-close"
            ></use>
            <use
              class="menu-btn__menu"
              href="./images/sprite.svg#icon-burger"
            ></use>
          </svg>
        </button>
        <button
          class="header__button button-arrow"
          type="button"
          buy-now-modal-open
        >
          Buy now
        </button>
      </div>
      <div class="header__mob-menu" data-menu id="menu-container">
        <a href="" class="header__logo">
          <img
            class="header__pic"
            src="./images/mainlogo.png"
            alt="Logo of ice cream company"
          />
        </a>
        <div class="header__mob-data">
          <ul class="header__mob-list list">
            <li class="header__mob-item">
              <a href="#hero" class="header__mob-link link">Home</a>
            </li>
            <li class="header__mob-item">
              <a href="#about" class="header__mob-link link">How it's made?</a>
            </li>
            <li class="header__mob-item">
              <a href="#products" class="header__mob-link link">Our products</a>
            </li>
            <li class="header__mob-item">
              <a href="#contacts" class="header__mob-link link">Contact</a>
            </li>
          </ul>
          <button
            class="header__mob-button button-arrow"
            type="button"
            buynow-modal-open-mob
          >
            Buy now
          </button>
        </div>
      </div>
    </nav>
  </div>
</header>
