<section class="hero">
  <div class="hero__container container">
    <div class="hero__info">
      <div>
        <h1 class="hero__title title-h1" id="hero">
          ice cream made with <span class="hero__title--size">passion</span>
        </h1>
        <ul class="hero__list list">
          <li class="hero__item">
            <a href="#products" class="hero__button button--transparent link">
              Products
            </a>
          </li>
          <li class="hero__item">
            <a href="#about" class="hero__link link hero__item--color"
              >How it's made?</a
            >
          </li>
        </ul>
      </div>
      <div>
        <ul class="hero__list-cafe list">
          <li class="hero__item-cafe">
            <p class="hero__item-number">16</p>
            <p class="hero__item-text">cafes</p>
          </li>
          <li class="hero__item-cafe">
            <p class="hero__item-number">23</p>
            <p class="hero__item-text">food trucks</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="hero__derection">
      <picture class="hero__picture animate__animated animate__heartBeat">
        <source
          srcset="
            ./images/bowl-tablet-1x.png 1x,
            ./images/bowl-tablet-2x.png 2x
          "
          media="(max-width:767px)"
        />
        <source
          srcset="./images/bowl-desktop.png 1x, ./images/bowl-desktop-2x.png 2x"
          media="(min-width:768px) and (max-width:1200px)"
        />
        <img
          class="hero__picture-bowl"
          src="./images/bowl-desktop.png"
          alt="Bowl with ice cream"
        />
      </picture>

      <div class="hero__info-text">
        <p class="hero__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="hero__btn" type="button">
          <svg width="40" height="16">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
    <picture class="hero__ice-cream animate__animated animate__wobble">
      <source
        srcset="./images/con-mobile@1x.png 1x, ./images/con-mobile@2x.png 2x"
        media="(max-width:767px)"
      />
      <source
        srcset="./images/con-tablet-1x.png 1x, ./images/con-tablet-2x.png 2x"
        media="(min-width:768px) and (max-width:1199px)"
      />
      <source
        srcset="./images/con-desktop.png 1x, ./images/con-desktop-2x.png 2x"
        media="(min-width:1200px)"
      />
      <img src="./images/con-desktop.png" alt="Con with ice cream smiling" />
    </picture>
    <picture class="hero__dots">
      <source
        srcset="./images/dots-mobile-1x.png 1x, ./images/dots-mobile-2x.png 2x"
        media="(max-width:767px)"
      />
      <source
        srcset="
          ./images/dots-mobile2-1x.png 1x,
          ./images/dots-mobile2-2x.png 2x
        "
        media="(min-width:480px) and(max-width:767px)"
      />
      <source
        srcset="./images/dots-tablet-1x.png 1x, ./images/dots-tablet-2x.png 2x"
        media="(min-width:768px) and (max-width:1199px)"
      />
      <source
        srcset="
          ./images/dots-desktop-1x.png 1x,
          ./images/dots-desktop-2x.png 2x
        "
        media="(min-width:1200px)"
      />
      <img src="./images/dots-desktop-1x.png" alt="Yellow dots" />
    </picture>
  </div>
</section>
