<div class="swiper-container try-section-dots">
  <div class="swiper-wrapper slider">
    <div class="swiper-slide slider__items">
      <a
        style="color: darkcyan; font-size: 66px"
        target="_blank"
        href="https://www.youtube.com/watch?v=ddbxsrGPRY0&list=PLa_dswJjgVar2OkEMfTWYkxBVerynNWlP&index=1&t=1984s&ab_channel=%D0%A4%D1%80%D1%96%D0%BB%D0%B0%D0%BD%D1%81%D0%B5%D1%80%D0%BF%D0%BE%D0%B6%D0%B8%D1%82%D1%82%D1%8E"
        >ютубище</a
      >
    </div>
    <div class="swiper-slide slider__items"></div>
    <div class="swiper-slide slider__items"></div>
  </div>
  <div class="swiper-pagination addition"></div>
</div>
