.gallery {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 24px;
  overflow: hidden;
  
    top: -40px;
    width: 280px;
    height: 130px;

    @media screen and (min-width: 480px) and (max-width: 767px) {
    top: -30px;
    width: 440px;
    height: 204px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    top: -150px;
    width: 704px;
    height: 327px;
  }
  @media screen and (min-width: 1200px) {
    top: -105px;
    width: 1013px;
    height: 422px;
  }
  
}

.thumb-pic {
  text-align: center;
  // width: 280px;
  // height: 130px;
  // @media screen and (min-width: 480px) and (max-width: 767px){
  //   width: 440px;
  //   height: 204px;
  // }
  // @media screen and (min-width: 768px) and (max-width: 1199px){
  //   width: 704px;
  //   height: 327px;
  // }
  // @media screen and (min-width: 1200px){
  //   width: 1013px;
  //   height: 422px;
  // }
}
.thumb-pic img {
  min-width: 100%;
  // width: 280px;
  // height: 130px;
  // @media screen and (min-width: 480px) and (max-width: 767px){
  //   width: 440px;
  //   height: 204px;
  // }
  // @media screen and (min-width: 768px) and (max-width: 1199px){
  //   width: 704px;
  //   height: 327px;
  // }
  // @media screen and (min-width: 1200px){
  //   width: 1013px;
  //   height: 422px;
  // }
}

