.try-section-dots {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translateX(-50%) translateY(-50%);

  height: 300px;
  width: 600px;
  background-color: bisque;

  overflow: hidden;

  & div {
    & div {
      display: block;
      height: 200px;
      width: 400px;
      background-color: aquamarine;
      outline: 2px solid tomato;

      &:nth-child(1) {
        background-color: blue;
      }
      &:nth-child(2) {
        background-color: yellow;
      }
      &:nth-child(3) {
        background-color: white;
      }
    }
  }

  .swiper-pagination .addition {
    bottom: 0;
  }

  .swiper-pagination-bullet {
    width: 30px;
    height: 30px;
    background-color: #84a278;
  }
}
